<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
	 <settings>
		 <setting name="cacheEnabled" value="true" />
		 <setting name="lazyLoadingEnabled" value="true" />
		 <setting name="multipleResultSetsEnabled" value="true" />
		 <setting name="useColumnLabel" value="true" />
		 <setting name="useGeneratedKeys" value="false" />
		 <setting name="defaultExecutorType" value="SIMPLE" />
		 <setting name="defaultStatementTimeout" value="100" />
		 <setting name="safeRowBoundsEnabled" value="false" />
		 <setting name="mapUnderscoreToCamelCase" value="false" />
		 <setting name="localCacheScope" value="SESSION" />
		 <setting name="jdbcTypeForNull" value="OTHER" />
		 <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
	 </settings>
	 
	 <typeAliases>
                <typeAlias alias="Company" type="com.intelliworx.persistence.company.ICompanyDTO"/>
                <typeAlias alias="Address" type="com.intelliworx.persistence.address.IAddressDTO"/>
     </typeAliases>
      
     <typeHandlers>
 	  			<typeHandler handler="com.intelliworx.inf.typehandler.LocalDateTimeTypeHandler" javaType="org.joda.time.LocalDateTime" jdbcType="VARCHAR"/>
 	  			<typeHandler handler="com.intelliworx.inf.typehandler.LocalDateTypeHandler" javaType="org.joda.time.LocalDate" jdbcType="VARCHAR"/>
 	  			
	 </typeHandlers>
      
      <objectFactory type="com.intelliworx.inf.MybatisObjectFactory"/>
	  
      <mappers>
        <mapper resource="com/intelliworx/persistence/company/ICompanyDAO.xml"/>
        <mapper resource="com/intelliworx/persistence/address/IAddressDAO.xml"/>
     </mappers>
     
</configuration>